__pycache__/
.hypothesis/
.pytest_cache/
*.pyc
.cache/
.env


# Log file
*.log

.spyproject/

*.jsonl
*.csv
!tests/csv_files/*.csv
.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
*.tfvars

.ipynb_checkpoints/


city.list.json

htmlcov/
.coverage
.python-version
commands.txt

deploy/*.zip
